<section id="skills">
  <h3>SKILLS</h3>
  <div>
    <div class="skill-container">
      <h4>TECHNICAL SKILLS</h4>
      <div>
        <ul>
          <li>HTML</li>
          <li>
            <progress max="100" value="80"> </progress>
          </li>
          <li>CSS</li>
          <li><progress max="100" value="60"> </progress></li>
          <li>JavaScript</li>
          <li><progress max="100" value="50"> </progress></li>
          <li>ANGULAR</li>
          <li><progress max="100" value="50"> </progress></li>
          <li>JAVA</li>
          <li><progress max="100" value="50"> </progress></li>
        </ul>
      </div>

    </div>
    <div class="skill-container">
      <h4>LANGUAGES</h4>
      <div>
        <ul>
          <li>ENGLISH</li>
          <li><progress max="100" value="95"> </progress></li>
          <li>HINDI</li>
          <li><progress max="100" value="95"> </progress></li>
          <li>MARATHI</li>
          <li><progress max="100" value="100"> </progress></li>
          <li>GERMAN</li>
          <li><progress max="100" value="40"> </progress></li>
        </ul>
      </div>

    </div>
  </div>
</section>
