 <section id="portfolio">
   <h3>PORTFOLIO</h3>
   <p>Some of my best projects so far</p>
   <hr>
   <div>
     <article>
       <img src="https://i1.faceprep.in/ProGrad/Coding-icon.svg" alt="">
       <h4> PERSONAL BLOG</h4>
       <p> A blog where I pen my own thoughts about programming</p>
     </article>
     <article>
       <img src="https://i1.faceprep.in/ProGrad/Coding-icon.svg" alt="">
       <h4> ROBO-NURSE </h4>
       <p> Line following robot-based Health Care management system </p>
     </article>
     <article>
       <img src="https://i1.faceprep.in/ProGrad/Coding-icon.svg" alt="">
       <h4> Smart Energy Meter</h4>
       <p>Smart energy meter equipped with a Raspberry Pi and IoT platform for monitoring electricity
         consumption via cloud server
         using a website and an Android application. 
       </p>
     </article>
   </div>
 </section>
